# Ignore Python virtual environments
venv/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# IDE/editor folders
.vscode/
.idea/

# OS files
.DS_Store
