<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Welcome to {{ title }}</h1>
    <p id="message"></p>
    <button onclick="showMessage()">Click Me</button>

    <button id="soundButton">Play Sound</button>
    <!-- The audio element to embed the sound file -->
    <audio id="clickSound" src="{{ url_for('static', filename='audio/AUDIO_1269.mp3') }}" preload="auto"></audio>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>